.content code{
    color: white;
    font-size: 1rem;
    background-color: #343a40;
    display: block;
    padding:15px;
    /* max-width: 50%; */
}
.content codeblock{
    
    background-color: black;
}
.content blockquote{
    color: green;
    font-weight: bold;
    border-left: 5px solid green;
    padding:10px
}

.content blockquote:last-of-type{
    color: red;
    border-left: 5px solid red;
}

.card{
    width:100%;
}